{% extends "pages/_base.html" %}

{% block content %}
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Lyra
      </h1>
      <h2 class="subtitle">
        A Friendly GroupMe Assistant
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-4">Enhance your GroupMe experience</h1>
      <p>
        Lyra is a helpful GroupMe bot that offers many useful and fun features! Add the "@everyone" plugin to quickly get the groups attention! Or maybe you're feeling spooky, then the "Doot Doot" plugin is for you!
        Plus, we're constantly adding new plugins to make the bot even better!
      </p>

      <br>

      <div class="has-text-centered">
        <a class="button is-info" href="/groupme/login">Login With GroupMe</a>
      </div>
    </div>

    <div class="box">
      <div class="level">
        <div class="level-left">
          Powered by GroupMe®
        </div>

        <div class="level-right">
          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="WkUx6sN" data-color="#787878" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000" data-font-color="#fff" data-coffee-color="#fd0" ></script>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
