{% extends "pages/_base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-2">{{ group['name'] }}</h1>
    <div class="box">
      <a class="button is-info" href="/groups">Back</a>
      <a class="button is-danger" href="/groups/{{ group['id'] }}/remove">Stop Managing Group</a>
    </div>

    <div class="box">
      <h2 class="title is-4">Manage Plugins</h2>

      <form action="/groups/{{ group['id'] }}/update" method="POST">
        <div class="columns is-multiline">
          {% for plugin in plugins %}
            <div class="column is-half">
              <label class="checkbox">
                <input type="checkbox" {% if plugin in enabled_plugins %}checked{% endif %} name="{{ plugin.name }}">
                {{ plugin.name }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info" type="submit">Submit</button>
          </div>
          <div class="control">
            <a class="button is-info is-light" href="/groups/{{ group['id'] }}">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
