@charset "utf-8";

@import '~bulma/sass/utilities/initial-variables.sass';

html {
  background: url('../images/grey.png');
  background-repeat: repeat;
}

$navbar-background-color: $white-ter;

.navbar-brand:hover .navbar-item:hover,
.navbar-item.has-dropdown:hover .navbar-link:hover {
  background-color: $grey-lighter;
  color: $grey-dark;
}

@import "~bulma/bulma";
