<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ url_for('static', filename='logo.png') }}">
      </a>
    </div>

    <div class="navbar-end">
      {% if logged_in %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ user.name }}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/manage">
              Manage Groups
            </a>
            <a class="navbar-item" href="logout">
              Logout
            </a>
          </div>
          </div>
        </div>
      {% else %}
        <div class="navbar-item">
          <a class="button is-link" href="/login">
            Login
          </a>
        </div>
      {% endif %}

      </div>
    </div>
  </div>
</nav>
